---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AuthModalWrapper from '../components/auth/AuthModalWrapper.jsx';
import StoreDebuggerWrapper from '../components/StoreDebuggerWrapper.jsx';
import ReturnPageComponent from '../components/ReturnPageComponent.jsx';

const title = 'Confirmación de Pago';
---

<Layout title={title}>
	<Header />
	<!-- Contenido principal -->
	<main class="container mx-auto px-4 py-8">
		<ReturnPageComponent client:load />
	</main>

	<AuthModalWrapper client:load />
	<StoreDebuggerWrapper client:load />
</Layout>
