---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AuthModalWrapper from '../components/auth/AuthModalWrapper.jsx';
import StoreDebuggerWrapper from '../components/StoreDebuggerWrapper.jsx';
import SearchFilters from '../components/SearchFilters.jsx';
import { getPageData } from '../lib/directus.js';
import DynamicBlocks from '../components/DynamicBlocks.astro';
import JoinNow from '../components/JoinNow.astro';
import Footer from '../components/Footer.astro';
import SearchForm from '../components/SearchForm.jsx';
import SearchResults from '../components/SearchResults.jsx';


// Si hay un error, usar datos por defecto
const title = 'Search';
---

<Layout title={title}>
	<Header />
	<!-- Contenido principal -->
	<main class="container mx-auto px-4 py-8">
		<div class="bg-neutral-darkest px-10 py-6">
			<SearchForm client:load initialData={{}} />
		</div>
		
		<div class="flex gap-8">
			<!-- Sidebar izquierdo -->
			<aside class="w-80 flex-shrink-0">
				<SearchFilters client:load />
			</aside>
			
			<!-- Contenedor principal con resultados de búsqueda -->
			<div class="flex-1">
				<SearchResults client:load />
			</div>
		</div>
	</main>
	<Footer />

	<AuthModalWrapper client:load />
	<StoreDebuggerWrapper client:load />
</Layout>
