---
import Layout from '../layouts/Layout.astro';
import SimpleTypographyTest from '../components/demos/SimpleTypographyTest.jsx';
---

<Layout title="Prueba de Tipografía">
  <main>
    <SimpleTypographyTest client:load />
  </main>
</Layout> 